@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Login as Admin Demo user</h2>
        <p>
            My BugTracker application allows an interested user to login as one of several Demo Users allowing them to perform various actions that are reserved for that role.
        </p>
        <p>@Html.ActionLink("Demo Admin","DemoLogin","Account", new { demoRole = "Admin"}, null)</p>
        <p>@Html.ActionLink("Demo PM", "DemoLogin", "Account", new { demoRole = "PM" }, null)</p>
        <p>@Html.ActionLink("Demo Developer", "DemoLogin", "Account", new { demoRole = "Developer" }, null)</p>
        <p>@Html.ActionLink("Demo Submitter", "DemoLogin", "Account", new { demoRole = "Submitter" }, null)</p>
    </div>
</div>